*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #ffffff;
  --color-dark: #2c2c54;
  --color-one: #0097e6;
  --color-two: #33d9b2;
  --color-three: #ff5252;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-dark);
}

.container {
  padding: 0 2rem;
  max-width: 140rem;
}

section {
  padding: 9.6rem 0;
}
