<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      hello,<br /> we are <span class="header__title-span">creatively</span>.
    </h1>
    <h2 class="header__subtitle">
      we build brands and products to bring big ideas into life.
    </h2>
    <a href="#" class="btn btn-one">see our work</a>
  </div>
</header>

<style>
  .header {
    background: var(--color-one);
    min-height: 50rem;
    display: flex;
  }

  .header__container {
    margin: auto;
    max-width: 70%;
  }

  .header__title {
    font-size: 7.2rem;
    word-spacing: -0.75rem;
    line-height: 1.2;
    color: var(--color-light);
  }

  .header__subtitle {
    margin: 2.4rem 0;
    font-size: 1.6rem;
    color: var(--color-light);
  }

  .header__title-span {
    color: var(--color-two);
  }
</style>
