<section class="services">
  <div class="container">
    <h2 class="section-title">our services</h2>
    <div class="services__box-container">
      <div class="services__box">
        <h3 class="services__box-title">design</h3>
        <p>Curabitur ornare.</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          laborum corporis iste pariatur provident? Quod nemo sit, libero modi
          error adipisci repellat aperiam assumenda enim nisi fuga aliquid est.
          Expedita!
        </p>
        <a href="#" class="btn btn-two">read more</a>
      </div>
      <div class="services__box">
        <h3 class="services__box-title">design</h3>
        <p>Curabitur ornare.</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          laborum corporis iste pariatur provident? Quod nemo sit, libero modi
          error adipisci repellat aperiam assumenda enim nisi fuga aliquid est.
          Expedita!
        </p>
        <a href="#" class="btn btn-three">read more</a>
      </div>
      <div class="services__box">
        <h3 class="services__box-title">design</h3>
        <p>Curabitur ornare.</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          laborum corporis iste pariatur provident? Quod nemo sit, libero modi
          error adipisci repellat aperiam assumenda enim nisi fuga aliquid est.
          Expedita!
        </p>
        <a href="#" class="btn btn-four">read more</a>
      </div>
    </div>
  </div>
</section>

<style>
  .services {
    display: flex;
  }
  .services__box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__box {
    flex: 0 0 33.333%;
  }

  .services__box-title {
    font-size: 2.4rem;
    margin: 0 0 1.2rem 0;
  }

  .services__box p:first-of-type {
    font-weight: bold;
  }

  .btn-two {
    color: var(--color-one);
    border: 1px solid var(--color-one);
  }

  .btn-three {
    color: var(--color-two);
    border: 1px solid var(--color-two);
  }

  .btn-four {
    color: var(--color-three);
    border: 1px solid var(--color-three);
  }

  @media (max-width: 1024px) {
    .services__box-container {
      display: block;
    }
  }
</style>
