<section class="work">
  <div class="container">
    <h2 class="section-title">our work</h2>
    <div class="section__box-container">
      <div class="section__box">
        <div class="section__box-image">
          <img src="/images/1.jpeg" alt="" />
        </div>
        <div class="section__box-content">
          <h3>Vertigo</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, iusto
            eos tempore ullam sunt quae voluptatum doloremque ducimus nisi
            maxime repellat molestiae ipsum autem sit harum deleniti rem id qui?
          </p>
          <p>Vivamus suscipit.</p>
          <a href="" class="btn">read more</a>
        </div>
      </div>
      <div class="section__box">
        <div class="section__box-image">
          <img src="/images/2.jpeg" alt="" />
        </div>
        <div class="section__box-content">
          <h3>Vertigo</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, iusto
            eos tempore ullam sunt quae voluptatum doloremque ducimus nisi
            maxime repellat molestiae ipsum autem sit harum deleniti rem id qui?
          </p>
          <p>Vivamus suscipit.</p>
          <a href="" class="btn">read more</a>
        </div>
      </div>
      <div class="section__box">
        <div class="section__box-image">
          <img src="/images/3.jpeg" alt="" />
        </div>
        <div class="section__box-content">
          <h3>Vertigo</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, iusto
            eos tempore ullam sunt quae voluptatum doloremque ducimus nisi
            maxime repellat molestiae ipsum autem sit harum deleniti rem id qui?
          </p>
          <p>Vivamus suscipit.</p>
          <a href="" class="btn">read more</a>
        </div>
      </div>
      <div class="section__box">
        <div class="section__box-image">
          <img src="/images/4.jpeg" alt="" />
        </div>
        <div class="section__box-content">
          <h3>Vertigo</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, iusto
            eos tempore ullam sunt quae voluptatum doloremque ducimus nisi
            maxime repellat molestiae ipsum autem sit harum deleniti rem id qui?
          </p>
          <p>Vivamus suscipit.</p>
          <a href="" class="btn">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .work {
    display: flex;
  }
  .section__box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section__box {
    flex: 0 0 50%;
    display: flex;
    min-height: 300px;
    margin-bottom: 9.6rem;
  }

  .section__box-image {
    width: 50%;
  }

  .section__box-content {
    width: 50%;
    padding: 2rem;
  }

  .section__box-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    .section__box-container {
      display: block;
    }
  }
</style>
